services:

  # Base de Datos para el Servicio de Pacientes
  patients_db:
    image: postgres:15-alpine
    container_name: patients_db
    environment:
      POSTGRES_USER: user_patients
      POSTGRES_PASSWORD: password_patients
      POSTGRES_DB: patients_db
    ports:
      - "5434:5432" # Solo para desarrollo/debugging

  # Base de Datos para el Servicio de Autenticaci칩n
  auth_db:
    image: postgres:15-alpine
    container_name: auth_db
    environment:
      POSTGRES_USER: user_auth
      POSTGRES_PASSWORD: password_auth
      POSTGRES_DB: auth_db
    ports:
      - "5433:5432" # Mapeado a un puerto diferente en el host

  # Microservicio de Autenticaci칩n
  auth-service:
    build:
      context: ./auth-service # Ruta de la carpeta donde est치 el Dockerfile
      dockerfile: Dockerfile
    container_name: auth-service
    ports:
      - "8080:3000" # Puerto del host:Puerto del contenedor (EXPOSE 3000)
    environment:
      NODE_ENV: development
      DATABASE_URL: postgres://user_auth:password_auth@auth_db:5432/auth_db
    depends_on:
      - auth_db # Asegura que la base de datos inicie primero

  # Microservicio de Pacientes
  patients-service:
    build:
      context: ./patients-service # Ruta de la carpeta donde est치 el Dockerfile
      dockerfile: Dockerfile
    container_name: patients-service
    ports:
      - "8081:3001" # Mapeado a 8081 en el host para evitar conflicto con el Auth-Service (8080)
    environment:
      NODE_ENV: development
      DATABASE_URL: postgres://user_patients:password_patients@patients_db:5432/patients_db
    depends_on:
      - patients_db # Asegura que la base de datos de pacientes inicie primero

volumes:
  patients_data:
  auth_data: